<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
              <span>Wakenator Options</span>
            </h2>
            <span flex></span>
            <md-button ng-click="closeWindow()">
                Close
            </md-button>
        </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Basics">
            <md-content class="md-padding">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input ng-model="opts.name" ng-model-options="{ debounce: 500 }">
                    <div class="hint">It should match your Slack <i>@user_name</i></div>
                </md-input-container>

                <md-checkbox ng-model="opts.startup" ng-model-options="{ debounce: 500 }">
                    Load app at startup
                </md-checkbox>
            </md-content>
        </md-tab>
        <md-tab label="Server">
            <md-content class="md-padding">
                <md-input-container class="md-block">
                    <label>Server address</label>
                    <input ng-model="opts.server" ng-model-options="{ debounce: 500 }">
                    <div class="hint">Status: <b>{{people !== null ? 'Connected (' + people.length +' around)' : 'Connecting...' }}<b></div>
                </md-input-container>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>