<html>

<head>
    <meta charset="UTF-8">
    <title>Options - Wakenator</title>
    
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="vendor/angular-material.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-animate.min.js"></script>
    <script src="vendor/angular-aria.min.js"></script>
    <script src="vendor/angular-messages.min.js"></script>
    
    <script src="vendor/angular-material.min.js"></script>
    <script src="code.js"></script>
    
</head>

<body ng-app="optionsApp" ng-controller="MainCtrl" ng-cloak>
    
    <ng-include src="'body.html'"></ng-include>

</body>

</html>
